<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div class="statuspage-container">
      <header class="statuspage-header">
        <h1 class="statuspage-title">服务状态监控</h1>
        <span class="statuspage-hr"></span>
      </header>
      <main class="statuspage-main" id="statuspage-main">
        <% monitors.forEach(function(monitor, index){ %>
          <div class="statuspage-card-container <%- ['statuspage-card-small','statuspage-card-big'][((index + 1) / 2 | 0) % 2] %>">
            <article
              class="statuspage-card statuspage-monitor <%- monitor.style %>"
              data-uptimerobot-apikey="<%- monitor.apikey %>"
              data-uptimerobot-monitorid="<%- monitor.monitorid %>"
            >
              <div class="statuspage-card-bg" style="background-image: url(<%- monitor.bg %>)"></div>
              <div class="statuspage-card-close-icon"></div>
              <div class="statuspage-card-mask">
                <div class="statuspage-card-mask-bg" style="background-image: url(<%- monitor.bgblur %>)"></div>
                <div class="statuspage-card-mask-actived">
                  <h4 class="statuspage-card-subtitle"><%= monitor.subtitle %></h4>
                  <h2 class="statuspage-card-title"><%= monitor.title %></h2>
                </div>
                <div class="statuspage-card-mask-unactive">
                  <h4 class="statuspage-card-subtitle"><%= monitor.subtitle %></h4>
                  <h2 class="statuspage-card-title"><%= monitor.title %></h2>
                </div>
                <div class="statuspage-card-mask-status">
                  <span class="statuspage-status-circle"></span> <span class="statuspage-status-text"></span>
                </div>
              </div>
              <div class="statuspage-card-content">
                <%- monitor.description %>
  
                <h2 class="statuspage-card-content-title">
                  服务状态
                </h2>
                <div class="statuspage-table-container">
                  <table class="statuspage-table statuspage-status-table">
                    <thead>
                      <tr>
                        <th width="30%">状态</th>
                        <th width="50%">在线率（7天）</th>
                        <th width="20%">类型</th>
                      </tr>
                    </thead>
                    <tr>
                      <td><span class="statuspage-status-circle"></span> <span class="statuspage-status-text">Paused</span></td>
                      <td><span class="statuspage-status-ratio"></span></td>
                      <td><%- monitor.type %></td>
                    </tr>
                  </table>
                </div>
  
                <h2 class="statuspage-card-content-title">
                  响应时间
                  <span class="statuspage-card-content-subtitle">最近24小时</span>
                </h2>
                <svg class="statuspage-plot"></svg>
  
                <h2 class="statuspage-card-content-title">
                  事件记录
                </h2>
  
                <div class="statuspage-table-container">
                  <table
                    class="statuspage-table statuspage-events-table"
                  >
                    <thead>
                      <tr>
                        <th width="30%">事件</th>
                        <th width="50%">日期</th>
                        <th width="20%">持续时间</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </article>
          </div>
        <% }); %>
    </div>

    <div id="shadow"></div>

    <script src="./d3.v5.min.js"></script>
    <script src="./main.js"></script>
    </main>
  </body>
</html>